python-dotenv == 1.0.0
flask == 2.3.0
flask-admin == 1.6.1
flask-login == 0.6.2
flask-wtf == 1.2.1
flask-sqlalchemy == 3.1.1
werkzeug == 2.3.0
wtforms == 3.1.0
psycopg2 == 2.9.9
flask-bootstrap == 3.3.7.1
flask-babel == 4.0.0
passlib == 1.7.4
flask-restful == 0.3.10
Flask-Migrate == 4.0.5
flask-jwt-extended == 4.5.3
PyJWT == 2.8.0
requests == 2.31.0
Flask-SocketIO == 5.3.6
flask_swagger_ui == 4.11.1
apispec == 6.3.0
marshmallow == 3.20.1
gunicorn == 21.2.0
Flask-Script == 2.0.6
APScheduler == 3.10.4
